:host {
  @apply flex items-center justify-center bg-white;
  &:not(.screenshot-sm) {
    .bo-loading {
      @apply scale-[300%];
    }
  }

  &.screenshot-sm {
    @apply scale-50;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

