*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
dist

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.env.prod

/packages/notest-monitor/test/test-space-instrumentation/instrumentation/
/packages/notest-backend/data-dbs/
