:host {
  display: inline-block;
  width: 24px;
  height: 24px;

  &.md {
    width: 18px;
    height: 18px;
    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.small {
    width: 12px;
    height: 12px;
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.xs {
    width: 8px;
    height: 8px;
    svg {
      width: 8px;
      height: 8px;
    }
  }

  &.white {
    path {
      fill: white;
    }
  }
}


