@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/@butopen/design-system/src/index';
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --nt-primary-color: #0097e4;
  --nt-secondary-color: #ff4d00;
  --bo-theme-color: var(--nt-primary-color);

  --bl-bkg-light: #f5f9ff;
  --bl-color-xs: #C3EAFF;
  --bl-text-color-light: #7d7d7d;
  --bl-text-color: #282828;
  --bl-primary-color-dark: #003f55;
  --bl-devtool-bkg-color: #f3f3f3;
  --bl-devtool-border-color: #D0D0D0;
  --bl-devtool-font-color: #D0D0D0;
  --bl-devtool-font-dark-color: #5a5a5a;
  --bl-devtool-inactive-color: #777777;
  --bl-devtool-active-color: #333333;
  --bl-devtool-font-size: 18px;
  --bl-devtool-font-weight: 100;
  --bl-devtool-tab-bkg-color: #eaeaea;
  --bl-devtool-hover-bkg-color: #f1f8ff;
  --bl-devtool-tab-bkg-color-hover: #eaeaea;
}

.scrollbar-sm {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.font-logo {
  font-family: 'Anton', sans-serif;
  @apply text-2xl;
}

body {
  @extend .use-bo-design-system;
  font-family: 'poppins', sans-serif;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
  @apply mt-8;
}

.bo-input {
  @apply w-64 rounded-md bg-gray-50 hover:shadow-sm;
}

.bo-button {
  @apply font-extrabold text-xs p-1.5;

  &:not(.outline) {
    @apply bg-bop text-white;
  }

  &[disabled] {
    @apply opacity-30;
  }

  &.outline {
    @apply border-2 border-nt-secondary bg-white p-1 text-xs text-nt-secondary outline-0;
  }

  &.sm {
    @apply px-1;
  }
}

.bo-section {
  @apply rounded bg-white p-8;
}

.bo-button-icon {
  @apply bg-gray-100 shadow-md shadow-gray-400 rounded-full p-3 cursor-pointer;
  @apply flex items-center justify-center;
  @apply transition-all duration-500 ease-in-out;
  @apply hover:scale-95 hover:shadow-lg hover:shadow-gray-400
}
.form-error {
  @apply text-sm text-red-500;
  &:before {
    content: '*';
    @apply mr-1;
  }
}
.form-success {
  @apply text-sm text-green-500;
  &:before {
    content: '*';
    @apply mr-1;
  }
}
.readonly  {
  @apply pointer-events-none opacity-25;
}

.card{
  @apply w-64 h-28 rounded-md shadow-md shadow-gray-300 overflow-hidden cursor-pointer transition-all hover:shadow-lg;
}

textarea{
  @apply rounded-md;
}
