.scrollbar-sm {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

.scrollbar-md {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
