node_modules
dist
deploy
static
.idea
*.blz
packages/smith-frontend/node_modules
packages/smith-frontend/dist
packages/smith-backend/node_modules
packages/smith-backend/dist
packages/smith-model/node_modules
packages/smith-model/dist
packages/smith-mobile-app/node_modules
packages/smith-mobile-app/dist
